@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Marcellus+SC&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-tercearia: #FF6500;
    --cor-hover: #272727;

    --fonte-primaria: "Lexend Mega", sans-serif;
    --fonte-secundaria: "Marcellus SC", serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 1% 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cabecalho__logo {
    width: 40%;
}

.cabecalho__menu {
    display: flex;
    gap: 110px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.56rem;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.cabecalho__menu__link.active {
    color: var(--cor-tercearia);
    text-decoration: underline;
}

.apresentacao {
    padding: 4% 7%;
    align-items: center;
}

.apresentacao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.375rem;
    font-weight: 500;
    text-align: center;
}

.conteudo__strong {
    font-weight: 500;
    color: var(--cor-tercearia);
}

.apresentacao__conteudo {
    padding: 3% 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 8%;
    align-items: center;
}

.apresentacao__conteudo__div{
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    text-align: justify;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.875rem;
    text-align: justify;
}

.apresentacao__redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 53px 0 0 0;
}

.apresentacao__redes__link {
    width: 30%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    border: 2px solid var(--cor-tercearia);
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.apresentacao__redes__link__img {
    width: 50px;
}
.apresentacao__redes__link:hover{
    background-color: var(--cor-tercearia);
}

.apresentacao__imagem {
    width: 30%;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-tercearia);
    padding: 1.5%;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.06rem;
    font-weight: 300;
}

.about {
    padding: 5% 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8%;
}

.about__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
}

.about__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding-bottom: 25px ;
}

.about__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.31rem;
    text-align: justify;
    padding-bottom: 20px;
}

.about__imagem{
    width: 40%;
}

.about__frase {
    display: flex;
    align-items: center;
    padding: 0 16% 4% 16%;
}

.about__frase__primaria {
    font-family:  var(--fonte-primaria);
    color: #FF6500;
    text-align: center;
}

.curriculo {
    padding: 5% 14%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.curriculo__principal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.curriculo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.875rem;
}

.curriculo__texto {
    font-family: var(--fonte-secundaria);
    text-align: justify;
    font-size: 1.5rem;
    padding: 0 0 0 12px;
}

.curriculo__lista {
    padding: 0 0 0 50px;
    font-family: var(--fonte-secundaria);

}

.curriculo__lista__titulo {
    font-size: 2rem;
}

.curriculo__lista__texto {
    font-size: 1.5rem;
    padding: 15px 0 15px 15px;
}

.curriculo__lista__experiencia {
    font-size: 1.06rem;
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.certificado{
    padding: 5% 14%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.certificado__titulo{
    font-family: var(--fonte-primaria);
    font-size: 1.875rem;
}

.box__conteudo__link {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.box__conteudo__link:hover {
    background-color: #272727;
    border-radius: 25px;
}

.box__conteudo{
    height: 290px;
    background: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    align-items: center;
}

.box__conteudo__imagem {
    display: flex;
    width: 380px;
    border-radius: 25px;
    margin-left: 20px;
}

.box__conteudo__escrito{
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 25px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.box__conteudo__escrito__titulo {
    font-size: 1.56rem;
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
}

.box__conteudo__escrito__texto {
    font-size: 1.56rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-transform: uppercase;
}

.box__conteudo__escrito__data {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-transform: uppercase;
}